{% extends 'base.html' %}
{% block nav %}
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://flat.mx/">
        <img src="https://flat.mx/static/img/logo.svg" width="112" height="28">
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">Home</a>
        <a class="navbar-item" href="{% url 'api:branches' %}">Git information</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">PR</a>
          <div class="navbar-dropdown" >
            <a class="navbar-item" href="{% url 'api:pr' %}">Create PR</a>
            <a class="navbar-item" href="{% url 'api:pr_list' %}">PR list</a>
            <a class="navbar-item" href="{% url 'api:pr_created' %}">PR created</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  {% endblock%}
{% block container %}
<form method="POST" id="create_PR" enctype="multipart/form-data"> 
  {% csrf_token %}  

<div class="field">
  <label class="label is-small">base:</label>
  <div class="select is-small">
  <select id="base" name="base" class="input" required>
      {% for branchitem in branches %}
          <option value="{{branchitem}}">{{branchitem}}</option>
      {% endfor %}
  </select>
  </div>
</div>

<div class="field">
  <label class="label is-small">compare:</label>
  <div class="select is-small">
  <select id="compare" name="compare" class="input" required>
      {% for branchitem in branches %}
          <option value="{{branchitem}}">{{branchitem}}</option>
      {% endfor %}
  </select>
  </div>
</div>
<div class="field">
  <label class="label is-small">Title:</label>
  <input id="title" name="title" class="input is-small" type="text">
</div>
<div class="field">
  <label class="label is-small">Body:</label>
  <textarea id="body" name="body" class="input is-small"></textarea>
</div>
<div class="field">
  <label class="label is-small">Commit message:</label>
  <input id="commit" name="commit" class="input is-small" type="text">
</div>
<label class="checkbox">
  <input type="checkbox" checked disabled>
      just Create
</label>
<label class="checkbox">
  <input type="checkbox" id="merge">
      Merge
</label>
<button class="button is-link is-small" type="submit">Crear pull request</button>
</form>
<div class="modal animated fadeIn">
  <div class="modal-background"></div>
  <div class="modal-card">
    <section class="modal-card-body">
      <h1 class="title">¡Listo!</h1>
      <p id="modal-info"></p>
    </section>
    <footer class="modal-card-foot">
      <button id="close-modal" class="button is-small">Ok</button>
    </footer>
  </div>
</div>

<script>
  //Función que crea un pull request
  $("#create_PR").on('submit', function(event){
      event.preventDefault();
      console.log($('#merge').is(":checked"))
      console.log("jkhkjhs")
      var url = "{% url 'api:create' %}";
      $(function()
          {
              $.ajax({
              url: url,
              type: "POST",
              data: {
                  csrfmiddlewaretoken: '{{ csrf_token }}',
                  compare: $('#compare').val(),
                  base: $('#base').val(),
                  title: $('#title').val(),
                  body: $('#body').val(),
                  commit: $('#commit').val(),
                  merge: $('#merge').is(":checked")
                  
              },
              dataType: 'json',
              success : function(json) {
                  $(".modal").addClass("is-active");
                  document.getElementById("modal-info").innerHTML = "Mensaje " + json.message;
              },
          });
      });
      //Ejecutamos el modal y traemos info para mostrar acerca de lo que agregamos
  })
</script>
<script>
  //Funcion para cerrar el modal y recargar la página
  $('#close-modal').on('click',function(){
      window.location.replace("{% url 'api:pr' %}");
      return false;
  });
</script>
{% endblock %}